@model IEnumerable<BashParserCore.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Userpic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.AccessFailedCount)
                </td>
                <td>
                    <img src="@Url.Action("GetUserpic", "Image", new { Id =user.Id })" style="width:25px; height:25px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
